# Google Apps Script 部署網址
NEXT_PUBLIC_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwIXVXtnGDCYugE869O3PpEYidPjq3AjfYOyJaCYPsf13sfBVABv9cCU9iSZu_nVn7HOg/exec

# 資產更新間隔（分鐘）
NEXT_PUBLIC_ASSET_UPDATE_INTERVAL=5

# Google Sheets 相關設置
NEXT_PUBLIC_SHEET_ID="18gkrhQ8lzuHeJWDBetVcRbrGF9ApjRlh4-tn1Pll9_A"

# 其他配置
NODE_ENV="development"